@page
@model AnonymousModel
@{
    ViewData["Title"] = "Anonymous";
}

<div class="jumbotron">
    <h1 class="display-4">Anonymous access</h1>
    <p class="lead">Any user can access with or without windows authentication</p>
</div>

@if (@Model.User.Identity.IsAuthenticated)
{
<div class="alert alert-success" role="alert">
    Logged in as: @Model.HttpContext.User.Identity.Name <br />
</div>
}
else
{
<div class="alert alert-warning" role="alert">
    Not logged in, anonymous access!
</div>
}

