@page
@model ExtranetModel
@{
    ViewData["Title"] = "Extranet";
}

<div class="jumbotron">
    <h1 class="display-4">Extranet</h1>
    <p class="lead">Attempts to load a resource from the internet</p>
</div>

<div>
    <h1>xkcd comic</h1>
    <img src="@ViewData["ExtranetUrl"]" />
</div>
<br/>
@if (@Model.User.Identity.IsAuthenticated)
{
    <div class="alert alert-success" role="alert">
        Logged in as: @Model.HttpContext.User.Identity.Name <br />
    </div>
}
else
{
    <div class="alert alert-warning" role="alert">
        Not logged in, anonymous access!
    </div>
}

